*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
      z-index: 999;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

.nav_cotain{
    display: flex;
    height: 300px;
}

.nav_cotain img {
    position: absolute;
    width: 100%;
    height: 300px;
}

.main_search {
    z-index: 99;
    width: 100%;
    padding: 10% 5%;
  display: grid;
  height: 100%;
}

.search_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}

.search_content__item div {
  font-size: 13px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.search_content__item:first-child {
  width: 22%;
}

.search_content__item:nth-child(2) {
  width: 22%;
}

.search_content__item:nth-child(3) {
  width: 14%;
}

.search_content__item:nth-child(4) {
  width: 10%;
}

.search_content__item:nth-child(5) {
  width: 10%;
}

.search_content__input {
  width: 100%;
  height: 46px;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  font-weight: 600;
  color: #929191;
  border-radius: 10px;
}

.search_content__button {
    border-radius: 10px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 53px;
  padding-left: 46px;
  padding-right: 46px;
  background: #0082e6;
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
  transform: translateY(15px);
  border: none;
  outline: none;
  cursor: pointer;
}

.search_content__button:hover {
  background: #0072c9;
}

card-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
}
.card{
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    height: 460px;
    width: 296px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.swiper{
    width: 950px;
}
section{
    margin: auto;
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
}

section .card .image{
    height: 140px;
    width: 200px;
    padding: 3px;
    background: #fff;
  border-radius: 20px;

}
section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 3px solid #fff;
  border-radius: 20px;
}
.box1{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #0000ff 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
}
.card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.name-profession .name{
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.name-profession .profession{
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
.card .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.card .rating i{
    font-size: 18px;
    margin: 0 2px;
    color: orange;
}
.card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.card .b1 button{
    background: #f3a323; 
}
.card .b2 button{
    background: #14bff2;
}
.card .b3 button{
    background: #f337e2;
}
.card .button button{
    outline: none; 
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card .button button:hover{
    opacity: 0.8;
}
.swiper-pagination{
    position: absolute;
    top: 510px;
}
.swiper-pagination-bullet{
    height: 15px;
    width: 15px;
    border-radius: 25px;
    background: #e634d7;
}
.swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color: #e634d7;
    transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: #e634d7;
}

.nx {
   color: rgb(72,72,72);
  font-size: 30px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
    padding-top: 50px;
    width: 80%;
    margin: auto;
}
